# Secrets
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cache
.pytest_cache/
.mypy_cache/
.cache/

# Hugging Face model cache
huggingface/
hf_cache/

# Environment variables
.env

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Temp
*.tmp